// header ---------------------------------------------
.header {
	color: #fff;

	.header-logo {
		text-align: center;
		font-size: 2.2em;
	}

	.untertitel {
			font-size: 0.3em;
	}
}

// content ---------------------------------------------

.page-wrapper {
	background: rgba(256, 256, 256, 0.6);
	border-radius: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: block;
	p { 
		font-size: 65% !important;
		padding: 2% 5%;
		margin: 0;
	}
	.icon {
		float: left;
		margin: auto;
		width: 120px;
		img {
			background-color: black;
			margin: 20px auto !important;
			width: 50px !important;
			
			&:hover {
				background-color: rgba(0,0,0,0.4) !important;
			}
			
				width: 50px !important;
		}
	}
}

.content-title {
	font-size: 1.5em;
	width: 100%;
	text-align: center;
}

.content-termine {
	font-size: 0.9em;
	color: black;
	background: rgba(256, 256, 256, 0.6);
	overflow-y: hidden;
}

.content-rotate {
	
	font-size: 0.9em;
	color: black;
	overflow-y: hidden;

	.content-left, .content-right, .content-middle {


		h1 {
			padding: 20px 0 15px;
			font-size: 1em;
			text-align: center;
			border-bottom: solid #B33 3px;
		}

		div p {
			font-size: 0.7em;
			
			text-align: center;
		}

		img {
			width: 35vw;
			display: block;
			margin: auto;
		}
	}  // content-left, -tight, -middle

} // content-rotate

.arrow-left, .arrow-right {
	img {
			padding: 8px;
		border-radius: 40px;
		transition: background 0.3s;
		opacity: 0.3;
		background: rgba( 256, 256, 256, 0.6);
		&:hover {
			background: rgba( 256, 256, 256, 0.6);
			opacity: 1;
		}
	}
} // arrow-left, -right


// navigation-bar ----------------------------------------------------------------------

.navigation-bar {
	ul  {
		list-style-type: none;
		width: 100%;
		height: 70px;
		padding: 0 auto;
		background: rgba( 0, 0, 0, .6);
	
		li {
			display: inline-block;
			width: 17%;
			margin: 15px 2%;
			padding: 0 1% 10px;
			
			text-align: center;

			border-bottom: solid rgba( 0, 0, 0, 0) 3px;

				&:hover {
					border-bottom: solid #668899 3px;
					color: #446677;
				}
			}

		a {
			color: white;
			text-decoration: none;
			margin: 0;
		}
	}

	.active {
			border-bottom: solid white 3px !important;
	}

} // navigation-bar


// Kalender -------------------------------------------------------------------------------------

.calendar-applet {

 	position: relative;
 	top: 4%;
 	left: 7%;
 	padding: 2%;
 	
 	width: 80%;

	


	.month-header {
		position: relative;
		padding: 5px;
		margin-bottom: 50px;
		font-size: $font-size-calendar-month;
		text-align: center;
		border-bottom: solid rgba(176, 48, 48, 1) 3px;
		height: 40px;
			
	}

	
	.weekend {
		color: rgba( 146, 28, 28, 1)
	}
	.termin {
		border-bottom: solid #b33 3px;
		border-radius: $font-size-calendar - 10px;
		&:hover {
			background-color: rgba( 176, 48, 48, 0.3);
	}
	li .today {
		background-color: #b33;
		color: white;
	}
}

.today {
		background-color: #b33;
		color: white;
}

.calendar-left-arrow {
		position: absolute;
		top: 2px;
		left: 0;
		width: 30px;
		padding: 4px;
		img { width: 30px;  } 
		&:hover {
			background-color: white;
		}
		border-radius: 35px;
}

.calendar-right-arrow {
 	position: absolute;
	top: 2px;
	right: 0;
 	width: 30px;
 	padding: 4px;
	img { width: 30px;  } 
	&:hover {
			background-color: white;
	}
	border-radius: 35px;

	
 }

 .monatListe {
 	margin-left: auto;
 }

	
	ul li {
		display: inline;
		text-align: center;
		vertical-align: middle;
		width: ($font-size-calendar * 2);
		margin: 4px;
		font-size: $font-size-calendar+0.2;
		height: $font-size-calendar * 1.618;
		border-bottom: solid rgba(0,0,0,0) 3px;
		
	}
}

.timeline {
	position: relative;
	top: 5%;
	height: 400px;
	width: 1000%;
	border: solid black 2px;
	overflow: none;
}

.calBox {
	height: 100%;
}

.termin-box {
	/* position: relative; */
	/* top: $header-height;
	left: $font-size-calendar * 14 + 50px;
	right: 7%;
	bottom: $footer-height; */
	/* bottom: $footer-height;
	left: $font-size-calendar*14 + 200px; */
	/* width: 50%; */
	
	position: absolute;
	bottom: 0;
	right: 0;
	
	/* background-color: rgba(0,0,0,0.8); */
	color: white;
	overflow-x: hidden;
	width: 50%;
	height: 100%;
	
	::parent {
		overflow: hidden;
	}
	
	.termin-info {
		font-size: 60%;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		/* width: 100%; */
		border-radius: 20px;
		
		text-align: center;
		background-color: rgba(0,0,0,0.85);
		padding: 15%;


	}
}




// Audio-Player -----------------------------------------------------------------------------

.audio-wrapper {
	position: relative;
	display: block;
	width: 320px;
	height: 40%;
	min-height: 250px;
	margin: 50px auto;
	background-color: black;
	color: white;
	border: solid #b33 2px;
	border-radius: 4px;


	.audio-title {
		position: relative;
		text-align: center;
		width: 80%;
		height: 100%;
		margin: 2% 10%;
		.audio-track-image {
			display: block;
			width: 50%;
			margin: 35px auto;

			img {
				width: 100%;
			}
		}
		.audio-track-name {
			display: block;
			left: 30%;
			width: 70%;
			margin: auto;
			
		}
	} // audio-title
	
	.audio-controls{
		position: relative;
		
		width: 352px;
		display: block;
		margin: auto;
		color: black;
	
		a {
			span { 
				text-align: center;
				width: 50px;
				height: 50px; 
			}
			width: 50px;
			height: 50px;
			text-align: center;
			vertical-align: middle;
			margin-right: 38px;
			cursor: pointer;

		}
	}  // audio-controls
}


// Tabelle vergangene Stücke

/* für die Tabelle */
.html {
	
	
		font-size: 50%;

		table {
			margin: 40px auto;
			padding: 30px;
			background-color: rgba(230,230,230,1);
		}



	.ueberschrift { font-family:Calibri;font-size :150%; font-weight:bold; text-align:center; padding:85px 10px 12px 10px; border-bottom:medium #aa5555 solid;  }
	.datum { text-align:center; }
	.spalte3 { text-align:right; }
	.vergangen { color:#777777; }
	table th { font-size:120%; font-weight:bold; padding-top:40px ;} 
	table td { padding:8px 10px 12px 10px; }
	p { text-align:left; }
	.stueck { font-style:italic; color:#bb3333; }
	a { text-decoration: none;}
}
